!node_modules/
node_modules/*
!node_modules/wppconnect/
node_modules/wppconnect/node_modules/
!docs/
tmp/
!public/
public/files/
public/files/log_json/
public/files/avatar/
public/tamplate/app-assets/images/logo
tokens/