<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto">
        <a class="navbar-brand" href="/">
          <span class="brand-logo">
            <!-- logitpo -->
            <!-- <object data="tamplate/app-assets/images/icon_controles/call-center.png" width="24" height="24"> </object>    -->
            <svg width="20px" height="18px" viewBox="0 0 20 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>vuejs</title>
              <g id="⚙️-Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="29)-Table/Table-Dark" transform="translate(-30.000000, -154.000000)" fill-rule="nonzero">
                  <g id="Table-Dark" transform="translate(-1.000000, 0.000000)">
                    <g id="Table-Row" transform="translate(0.000000, 138.000000)">
                      <g id="Product" transform="translate(31.000000, 13.000000)">
                        <g id="vuejs" transform="translate(0.000000, 3.000000)">
                          <polygon id="Path" fill="#41B883"
                            points="15.9330435 0.00047826087 12.5 0.00047826087 10.0000435 3.95578261 7.85721739 0.00047826087 4.34782609e-05 0.00047826087 10.0000435 17.1299565 19.9999565 0.00047826087">
                          </polygon>
                          <polygon id="Path" fill="#35495E"
                            points="2.4866087 1.429 4.8883913 1.429 10.0000435 10.2773043 15.1071304 1.429 17.508913 1.429 10.0000435 14.295087">
                          </polygon>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
          <h2 class="brand-text">Saas</h2>
        </a>
      </li>
      <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
            class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i
            class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc"
            data-ticon="disc"></i></a></li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" nav-item"><a class="d-flex align-items-center" href="#">
          <i data-feather="pie-chart"></i><span class="menu-title text-truncate"
            data-i18n="Dashboards">Dashboards</span>
          <span class="badge badge-light-warning badge-pill ml-auto mr-1">1</span></a>
        <ul class="menu-content">
          <li>
            <a class="d-flex align-items-center" href="/">
              <i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Analytics">Analítico</span>
            </a>
          </li>

        </ul>
      </li>
      <li class=" navigation-header"><span data-i18n="Apps &amp; Pages">Menu de opções </span><i
          data-feather="more-horizontal"></i>
      </li>
      <li class=" nav-item"><a class="d-flex align-items-center" href="contatos">
          <i data-feather="users"></i>
          <span class="menu-title text-truncate" data-i18n="Email">Contatos</span></a>
      </li>
      <!--<li class=" nav-item"><a class="d-flex align-items-center" href="etiquetas">
          <i data-feather="list"></i>
          <span class="menu-title text-truncate" data-i18n="Email">Etiquetas</span></a>          
        </li> -->

      <li class=" nav-item"><a class="d-flex align-items-center" href="#">
          <i data-feather="grid"></i>
          <span class="menu-title text-truncate" data-i18n="Email">Automacão</span></a>
        <!-- sub menu-->
        <ul class="menu-content">

          <li>
            <a class="d-flex align-items-center" href="autobot">
              <i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Analytics">Fluxo de
                Trabalho</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-items-center" href="#">
              <i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Analytics">Bot (pal.
                chaves)</span>
            </a>
          </li>
          <!-- <li>
            <a class="d-flex align-items-center" href="chat">
              <i data-feather="circle"></i><span class="menu-item text-truncate"
                data-i18n="Analytics">Multi-Atendimento</span>
            </a>
          </li> -->
          <li>
            <a class="d-flex align-items-center" href="kanban">
              <i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Analytics">KanBan</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-items-center" href="etiquetas">
              <i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Analytics">Etiquetas</span>
            </a>
          </li>

        </ul>
      </li>

      <!-- campanhas -->
      <!-- <li class=" nav-item"><a class="d-flex align-items-center" href="campanhas">
          <i data-feather="check-square"></i>
          <span class="menu-title text-truncate" data-i18n="campanhas">Campanhas</span></a>         
        </li> -->

      <!-- gerenciamento de midia 
        <li class=" nav-item"><a class="d-flex align-items-center" href="midias">
          <i data-feather="save"></i>
          <span class="menu-title text-truncate" data-i18n="File Manager">Arquivos de Mídia</span></a>          
        </li> -->

      <!-- minha conta -->
      <li class=" nav-item">
        <a class="d-flex align-items-center" href="minha_conta">
          <i data-feather="credit-card"></i>
          <span class="menu-title text-truncate" data-i18n="minha conta">Minha Conta</span></a>
      </li>

      <!-- configuracoes -->
      <li class=" nav-item">
        <a class="d-flex align-items-center" href="configuracoes">
          <i data-feather="settings"></i>
          <span class="menu-title text-settings" data-i18n="minha conta">Configurações<span>
        </a>
      </li>

      <li class=" navigation-header"><span data-i18n="Apps &amp; Pages">WhatsaApp API </span><i
          data-feather="more-horizontal"></i>
        <!-- minha conta -->
      <li class=" nav-item">
        <a class="d-flex align-items-center" href="sessao">
          <i data-feather="copy"></i>
          <span id="menu_conn" class="menu-title text-truncate" data-i18n="minha conta">Conexões</span></a>
      </li>

      <!-- administrador  -->
      <li class=" navigation-header"><span data-i18n="Apps &amp; Pages">Administração </span><i
          data-feather="more-horizontal"></i>
        <!-- minha conta -->
      <li class=" nav-item">
        <a class="d-flex align-items-center" href="setor">
          <i data-feather="grid"></i>
          <span id="menu_conn" class="menu-title text-truncate" data-i18n="minha conta">Setores</span></a>
      </li>
      <li class=" nav-item">
        <a class="d-flex align-items-center" href="usuario">
          <i data-feather="user"></i>
          <span id="menu_conn" class="menu-title text-truncate" data-i18n="minha conta">Usuários</span></a>
      </li>

    </ul>
  </div>
</div>
<!-- END: Main Menu-->